.piano {
    display:flex;
    flex-direction:row;
    margin: 75px;
}

.key {
    background-color: white;
    height:300px;
    width:60px;
    border: none;
    border-left: 1px solid black;
}

.black {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin-left: -15px;
    margin-right: -15px;
    height:200px;
    width:30px;
    border-radius: 4%;
    border: none;
}

.synthContainer {
    display: flex;
    justify-content: space-between;
}

.oscillator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
}

.envelope {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20%;
    width: 170px;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -31%;
    margin-top: 24px;
}

.heading {
    display: flex;
    justify-content: center;
}

.playing {
    background-color: blue;
}

.selected {
    background-color: rgb(1, 187, 1);
}

.buttonActive, .key:hover {
    background-color: rgb(156, 156, 255);
    transition: background-color 0.01s ease; 
}

.buttonActive, .black:hover {
    background-color: rgb(121, 121, 204);
    transition: background-color 0.01s ease; 
}


